<mat-card claa="registrar" style="margin-left: 20%; top: 150px;">
       <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Event Name</mat-label>
                <input matInput placeholder="Event name" value="Event Name">
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Event Description"></textarea>
              </mat-form-field>
              <br/>

              <mat-form-field class="example-full-width">
                     <mat-label>Leave a comment</mat-label>
                     <input matInput placeholder="Ex. It makes me feel..." type="date" >
                   </mat-form-field>

              <mat-form-field class="example-full-width">
                     <mat-label>Leave a comment</mat-label>
                     <input matInput placeholder="Ex. It makes me feel..." type="date" >
                   </mat-form-field>
              <br/>
              <mat-card-content>
              </mat-card-content>
              <mat-card-actions style="float: left;">
                     <button  mat-button (click)="onSave()">CREATE</button>
                   </mat-card-actions>


            </form>
</mat-card>